# Python 缓存
__pycache__/
*.py[cod]

# 虚拟环境
venv/

# Django 数据库和静态资源
db.sqlite3
*.log
/media/
staticfiles/

# IDE 配置
.vscode/
.idea/

# OS 文件
.DS_Store
Thumbs.db

!media/avatars/default.jpg