{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}博客专栏{% endblock %}
{% block body_bg %}background-color: #f5f6f7;{% endblock %}

{% block content %}
<div class="moments-content-outer">
    <h3 class="publish-title mb-4">📝 博客专栏</h3>
    <div class="d-flex justify-content-end mb-4">
        <a href="{% url 'blog_new' %}" class="btn btn-primary publish-btn">写博客</a>
    </div>

    <div class="moments-list">
        {% for blog in blogs %}
        <div class="blog-card" onclick="window.location.href='{% url 'blog_detail' blog.id %}'">
            <div class="blog-badge">📓 博客</div>
            <div class="author-row">
                {% if blog.author.user_profile.avatar and blog.author.user_profile.avatar.url != '/media/avatars/default.jpg' %}
                <img class="avatar-img" src="{{ blog.author.user_profile.avatar.url }}" alt="头像"
                    style="width:36px;height:36px;border-radius:50%;object-fit:cover;vertical-align:middle;">
                {% else %}
                <span class="author-avatar-circle">{{ blog.author.username|first|upper }}</span>
                {% endif %}
                <span class="author-nickname">
                    {{ blog.author.user_profile.nickname|default:blog.author.username }}</span>
            </div>

            <div class="blog-cover">
                {% if blog.cover_image %}
                <img src="{{ blog.cover_image.url }}" alt="博客封面" class="blog-cover-img">
                {% else %}
                <div class="blog-cover-default">
                    <span class="blog-default-text">Blog</span>
                </div>
                {% endif %}
            </div>

            <div class="blog-content">
                <h3 class="blog-title">{{ blog.title|default:"(无标题)" }}</h3>
                {% if blog.blog_summary %}
                <p class="blog-summary">{{ blog.blog_summary|default_if_none:"" }}</p>
                {% endif %}
                <button class="read-more-btn"
                    onclick="event.stopPropagation(); window.location.href='{% url 'blog_detail' blog.id %}'">
                    阅读全文
                </button>
            </div>
        </div>
        {% empty %}
        <div class="no-blogs">还没有发表过博客。</div>
        {% endfor %}
    </div>
</div>

<link rel="stylesheet" href="{% static 'plaza/css/plaza.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/blog_list.css' %}">
<link rel="icon" type="image/png" href="{% static 'images/web_icon.png' %}">
{% endblock %}